
body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
a {
  color: #7268f6;
}
.topiphone {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    transform: translateY(-2px);
    z-index: -9999;
}

.screenshot {
    height: 423px;
    margin-top: 0px;
}

.title {
  font-familly: helvetica;
  color: #000000;
  font-size: 45px;
  margin-top: -7px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.paragraph {
  font-familly: helvetica;
  color: #555369;
  font-size: 18px;
  margin-top: -7px;
  margin-bottom: 20px;
  line-height: 1.5;
  padding-left: 9%;
  padding-right: 9%;
}
p {
  font-familly: helvetica;
  color: #555369;
  font-size: 18px;
  margin-top: -7px;
  margin-bottom: 20px;
  line-height: 1.5;

}
.tophero {
  background-color: #1c1c1c;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #CDC8FF;
  height: 202px;
}
.screenshot {
    width: auto;
    height: 423px;
    z-index: -5;
}
.topiphonecontainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero1 {
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
} 
.hero2 {
  background-color: #f2f3f8;
  left: 0;
  right: 0;
  padding: 20px;
}  
.feature h1 {
  font-size: 20px;
  color: white;
}  
.description p {
  font-size: 16px;
  color: #acacac;
}  
      .list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 960px;
        margin: 0 auto;
      }
      
      .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;
        padding: 0 10px;
      }
      
.list-item img {
    margin-right: 20px;
    max-width: 50px;
    border-radius: 10px;
}
      
      .list-item h2 {
        font-size: 24px;
        margin: 0;
      }
      
      .list-item p {
        font-size: 16px;
        margin: 0;
        line-height: 1.5;
      }
      
      .left-column {
        order: 1;
      }
      
      .right-column {
        order: 2;
      }
      
      @media screen and (max-width: 767px) {
        .list-item {
          width: 100%;
        }
        
        .left-column {
          order: 2;
        }
        
        .right-column {
          order: 1;
        }
      }
.letsgo {
  background-color: #7163FF;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
}

.down {
    background-color: #7163FF;
    border-radius: 15px; 
    border: 2px solid #5948ff; 
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    list-style: none;
    margin: 0 10px; 
    padding: 10px 20px; 
    height: 43px;
    width: 145px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

.down i {
    margin-right: 8px; /* Espace entre l'icône et le texte */
}
/*faq*/
.layout {
  margin: auto;
}
.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff75;
    border-radius: 17px;
    width: 300px;
    border: solid 1px #ffffff94;
}
.accordion__question p {
  margin: 5px;
  padding: 0;
  color: #000;
  font-family: Helvetica;
  font-size: 19px;
}

.accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #393939;
    background: #ffffff70;
    border-radius: 12px;
}
.accordion:hover {
  cursor: pointer;
}
.accordion__answer {
  display: none;
}
.accordion.active .accordion__answer {
  display: block;
}

/* top nav bar*/
header {
  background-color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  border-radius: 10px;
}

.icons {
  font-size: 20px;
  background-color: #f5f5f5;
  padding-top: 10px;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.icons i {
  margin-left: 20px;
  color: #000; 
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}

.icon-container img {
  width: 60px; /* Ajustez la taille selon vos besoins */
  height: 60px;
  margin: 5px; /* Espace entre les icônes */
  border-radius: 16px;
}
/* css by https://pajasevi.github.io/CSSnowflakes/ */
.snowflake {
  color: #fff;
  font-size: 1.6em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}

.save_money {
    height: 184px;
    width: auto;
} 
.faq {
    background-image: url("../assets/faq.jpg");
    left: 0;
    right: 0;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.review {
    width: auto;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 400px;
}
        .review .user {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        .review .user img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ccc;
            margin-right: 10px;
        }
        .review .user .username {
            font-weight: bold;
            color: #333;
        }
        .review .user .date {
            color: #888;
        }
        .review .rating-content {
            color: #333;
        }
