body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
} 

p {
  font-familly: helvetica;
  color: #c9c9c9;
  font-size: 16px;
}
.tophero {
  background-color: #2a2a2a;
  left: 0;
  right: 0;
  padding: 20px;
}
.screenshot {
    width: auto;
    height: 280px;
}
.hero1 {
  background-color: #000;
  left: 0;
  right: 0;
  padding: 20px;
}  
.feature h1 {
  font-size: 20px;
  color: white;
}  
.description p {
  font-size: 16px;
  color: #acacac;
}  
      .list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 960px;
        margin: 0 auto;
      }
      
      .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;
        padding: 0 10px;
      }
      
      .list-item img {
        margin-right: 20px;
        max-width: 60px;
      }
      
      .list-item h2 {
        font-size: 24px;
        margin: 0;
      }
      
      .list-item p {
        font-size: 16px;
        margin: 0;
      }
      
      .left-column {
        order: 1;
      }
      
      .right-column {
        order: 2;
      }
      
      @media screen and (max-width: 767px) {
        .list-item {
          width: 100%;
        }
        
        .left-column {
          order: 2;
        }
        
        .right-column {
          order: 1;
        }
      }
.letsgo {
  background-color: #7163FF;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
}

